<h1>Edit Card</h1>
<%= form_for :card_info, url: card_info_path(@card), method: :patch  do |f| %>
    <% if @card.errors.any? %>
        <% @card.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
        <% end %>
    <% end %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field(:title, {:class => 'form-control', :value=> @card.title}) %>
    </p>
     <p>
        <%= f.label :body %><br>
        <%= f.text_area(:body, {:class => 'form-control', :value=> @card.body}) %>
    </p>
    <p>
        <%= f.submit(:class => 'btn btn-primary') %>
    </p>
<% end %>