<h2><%= @card.title %></h2>
<p><%= @card.body %></p>
<hr>
<%= link_to "edit", edit_card_info_path(@card), :class => 'btn btn-light' %>
<%= link_to "delete", card_info_path(@card),
    method: :delete,
    data: {confirm: 'Are you sure?'},
    :class => 'btn btn-danger' %>
<hr>

<%# <h3>Add to a collection</h3> %>
<%# <%= form_for ([@card, @card.collections.build]) do |f| %> %>
    <%# <p> %>
        <%# <%= f.label :name %><br> %>
        <%# <%= f.text_field(:name, {:class => 'form-control'}) %> %>
    <%# </p> %>
    <%# <p> %>
        <%# <%= f.submit({:class => 'btn btn-light'}) %>  %>
    <%# </p> %>

<%# <% end %> %>
